{% extends "base.html" %}
{% block content %}
<h2>About SaleScope</h2>
<p><b>SaleScope</b> is a Sales Performance Analysis and Forecasting tool.</p>
<p>It uses Python, Flask, and SQL to process raw sales data, clean it, and apply
Machine Learning models like Linear Regression for forecasting.</p>
<p>The system provides visual insights like charts and graphs to identify 
top-performing products, regions, and trends. This helps businesses make 
smarter, data-driven decisions.</p>
{% endblock %}
