{% extends "base.html" %}

{% block content %}

<h2>Create a New Password</h2>

<form method="POST">

  <label>New Password</label>

  <input type="password" name="password" required placeholder="New password">

  <label>Confirm Password</label>

  <input type="password" name="confirm_password" required placeholder="Confirm new password">

  <button type="submit">
    Set New Password
  </button>

</form>

<p class="mt-3">
  <a href="{{ url_for('login') }}">
    Back to Login
  </a>
</p>

{% endblock %}
